@import url('https://fonts.googleapis.com/css2?family=Bpmf+Huninn&family=Caveat:wght@400..700&family=Damion&family=Dancing+Script:wght@400..700&display=swap');
body{
    margin:0;
    padding:0;
    background-color:white;
}
nav{
    width:100%;
    height:75px;
    background-color:#761B1B;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-alignment1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:0;
    margin-top: 10px;
    color:white;
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;  
}
.BM{
    width:100px;
}
.nav-alignment2{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-right: 20px;
    width:100px;
}
.burgerMenu{
    cursor: pointer;
    margin-left:20px;
}
.navsigninBtn{
    font-family: "Bpmf Huninn", cursive;
    background-color:white;
    border:none;
    height:30px;
    width:80px;
    border-radius: 0.5rem;
    font-size:14px;
    font-weight: 400;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
h1{
      font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:64px;
  text-align:center;
}
h2{
      font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:40px;
  text-align:center;
}
.times{
     font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:30px;
  text-align:center;
  display:flex;
  flex-direction:column;
  gap:30px;
  padding-top:60px;
}
.start{
    width:698px;
    height:142px;
    border:none;
    border-radius: 30px;
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:36px;
    text-align:center;
    background-color: #E2CEB1;
    cursor:pointer
}
.end{
    width:689px;
    height:142px;
    border:none;
    border-radius: 30px;
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:36px;
    text-align:center;
    background-color: #AE1515;
    color:white;
    cursor:pointer;
}
.clockOptions{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.buttons{
    display:flex;
    flex-direction:column;
    gap:48px;
}
.date{
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:24px;
    display:flex;
    align-items:start;
}
